<h1>Coding Events</h1>
@if (ViewBag.events.Count == 0)
{
    <p>No events!</p>
}
else
{
    <ul>
        @foreach (string meeting in ViewBag.events)
        {
            <li>@meeting</li>
        }
    </ul>
}
<p>
    <a asp-controller="Events" asp-action="Add">Add New Event</a>
</p>