<h1>Coding Events</h1>
@if (ViewBag.events.Count == 0)
{
    <p>No events!</p>
}
else
{
    <ul>
        @foreach (var meeting in ViewBag.events as Dictionary<string, string>)
        {
            <li>@meeting.Key - @meeting.Value</li>
        }
    </ul>
}
<p>
    <a asp-controller="Events" asp-action="Add">Add New Event</a>
</p>