<h1>Coding Events</h1>
@if (ViewBag.events.Count == 0)
{
    <p>No events!</p>
}
else
{
<table>
    <tr>
        <th> Event </th>
        <th> Description </th>
    </tr>
    @foreach (var meeting in ViewBag.events as Dictionary<string, string>)
    {
        <tr>
            <td> @meeting.Key </td>
            <td> @meeting.Value </td>
        </tr>
    }
</table>
}
<p>
    <a asp-controller="Events" asp-action="Add">Add New Event</a>
</p>